/** @format */


.yellow-theme {
  --modal-background: #f1c232;
  --modal-color: #242832;
  --font-color: #ffffff;
  --background: #141519;
  --paragraph: #a4a9b2;
  --lable: #26303b;
  --hover: #7c8897;
}
.blue-theme {
  --modal-color: #242832;
  --modal-background: #0C6991;
  --font-color: #ffffff;
  --background: #141519;
  --paragraph: #a4a9b2;
  --lable: #26303b;
  --hover: #7c8897;
}
.red-theme {
  --modal-color: #242832;
  --modal-background: #e50000;
  --font-color: #ffffff;
  --background: #141519;
  --paragraph: #a4a9b2;
  --lable: #26303b;
  --hover: #7c8897;
}
.orange-theme {
  --modal-color: #242832;
  --modal-background: #fb7711;
  --font-color: #ffffff;
  --background: #141519;
  --paragraph: #a4a9b2;
  --lable: #26303b;
  --hover: #7c8897;
}
body {
  background-color: #141519;
}
.yellow{
  background-color: #f1c232;
}
.blue{
    background-color: #0C6991;

}
.red{
  background-color:#e50000;
}
.orange{
  background-color:#fb7711;

}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  min-height: 100vh;
  z-index: 0;
}
.modal-rating {
  background-color: var(--modal-background);
  padding: 20px;
  color: var(--font-color);
  font-family: serif;
  max-width: 350px;
  aspect-ratio: 1;
  width: 95%;
  border-radius: 10px;
  z-index: 2;
  position: relative;
}
.modal-rating .overlay {
  position: absolute;
  inset: 0;
  background-color: var(--modal-color);
  border-radius: 10px;
  transform: translate(5px, -5px);
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.modal-rating i {
  color: var(--modal-background);
  background-color: var(--lable);
  padding: 10px;
  border-radius: 50%;
  width: 4%;
  aspect-ratio: 1;
}
.modal-rating p {
  font-size: 16px;
  color: var(--paragraph);
}
.modal-rating .rating {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
.modal-rating .rating label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1em;
  height: 1em;
  padding: 20px;
  font-size: 20px;
  margin-top: 25px;
  color: var(--paragraph);
  background-color: var(--lable);
  border-radius: 50%;
  cursor: pointer;
}
.modal-rating .rating input[type="radio"] {
  display: none;
}
.modal-rating .rating label:hover {
  background-color: var(--hover);
  color: var(--font-color);
}
.modal-rating .rating input:checked + label {
  background-color: var(--modal-background);
  color: var(--font-color);
}
.modal-rating button[type="submit"] {
  background-color: var(--modal-background);
  color: var(--font-color);
  width: 100%;
  padding: 15px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 99px;
  border: 0px;
  margin-top: 33px;
  cursor: pointer;
}
.modal-rating button[type="submit"]:hover {
  color: var(--modal-background);
  background-color: var(--font-color);
}
.NavColor {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: var(--modal-background));
  color: var(--font-color);
}
.color-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1em;
  height: 1em;
  padding: 20px;
  font-size: 20px;
  margin: 10px;
  color: var(--hover);
  border-radius: 50%;
  cursor: pointer;
}
